<%- model_class = Service -%>
<div class="page-header">
  <% if current_user.user_type.name == "Cliente" %>
    <h1>My <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> Requested</h1>
  <% else %>
    <% if current_user.user_type.name == "Taxista" %>
      <h1>My <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> Assigned</h1>
    <% else %>
      <h1>All <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> Requested</h1>
    <% end %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:service_code) %></th>
      <th><%= model_class.human_attribute_name(:date_time) %></th>
      <th><%= model_class.human_attribute_name(:from_address_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>

      <!--<th><%= model_class.human_attribute_name(:payment) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:vehicle_id) %></th><--></-->
      <!--<th><%= model_class.human_attribute_name(:user_id) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:created_at) %></th> -->     
      <!--<th><%= model_class.human_attribute_name(:to_address_id) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:to_address_id) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:passengers) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:vehicle_type_id) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:payment_method_id) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:rate) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:experience) %></th>-->

    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.id, service_path(service) %></td>
        <td><%= service.service_code %></td>        
        <td><%= service.date_time.strftime("%d/%m/%Y %I:%M %p") %></td>
        <td><%= service.from_address.name %></td>
        <td><%= service.status %></td>
        
        <!--<td><%= service.user_id %></td>-->  
        <!--<td><%= service.payment %></td>-->        
        <!--<td><%= service.vehicle_id %></td>-->        
        <!--<td><%= service.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>-->
        <!--<td><%= service.to_address.name %></td>-->
        <!--<td><%= service.passengers %></td>-->
        <!--<td><%= service.vehicle_type.name %></td>-->
        <!--<td><%= service.payment_method.name %></td>-->
        <!--<td><%= service.rate %></td>-->
        <!--<td><%= service.experience %></td>-->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_path(service), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
  
</table>

<nav align=center>
  <ul class="pagination">
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
    <% if current_user.user_type.name == "Operador" || current_user.user_type.name == "Taxista" %>
      <%= will_paginate @services %>
    <% end %>
  </ul>
</nav>
