<p id="notice"><%= notice %></p>

<h1>Listing Distrits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distrits.each do |distrit| %>
      <tr>
        <td><%= distrit.name %></td>
        <td><%= link_to 'Show', distrit %></td>
        <td><%= link_to 'Edit', edit_distrit_path(distrit) %></td>
        <td><%= link_to 'Destroy', distrit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distrit', new_distrit_path %>
